html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    z-index: 0;
}

.infowindow-content {
    top: 0px;
    right: 0px;
    background-color: #D3D3D3;
    position: fixed;
    overflow: auto;
    z-index: 999;
}

.gm-style-iw {
    /* width: 350px !important;*/
    top: 0 !important;
    left: 0 !important;
}

@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('../fonts/London-Tube.ttf'); /*URL to font*/
}

/* Styling of blog elements */
.infowindow-content h1, h2, h3 {
    font-family: 'YourFontName';
    font-weight: bold;
}

.infowindow-content p, h1, h2, h3 {
    padding: 10px;
}

.infowindow-content ul {
    list-style-type:disc;
}

.infowindow-content .blog-date-address {
    font-style: italic
}

.infowindow-content img {
    max-width: 100%;
}

