html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    z-index: 0;
}

.gm-style-iw {
    /* width: 350px !important;*/
    top: 0 !important;
    left: 0 !important;
}

.gm-style-iw img {
    max-width: 100%;
}

.infowindow {
    /*position: fixed;*/
    /*width: 500px;*/
    /*padding: 10px;*/
    background-color: #D3D3D3; /* for now */
    z-index: 5;
}
